@import url("https://fonts.googleapis.com/css?family=Schoolbell");

body,
html {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Schoolbell", cursive;
  font-size: 18px;
  overflow: none;
}

h1 {
  text-align: center;
  position: relative;
  font-size: 36px;
  top: 20px; /* change to position title*/
  color: #2f2d30;
  text-transform: uppercase;
}

#rugBackground {
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-image: url("http://zabbyallen.com/user/pages/01.blog/freebie-friday-90s-inspired-backgrounds/triangles-background.jpg"); /*by zabbyallen.com*/
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: -10px;
  bottom: 0;
  -webkit-animation-name: background;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(1, end);
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
}

#rugMainBody {
  width: 500px;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 60px;
  right: 0;
  z-index: 2;
}

// using https://pattern.flaticon.com/#pack=toys-30
@-webkit-keyframes background {
  0% {
    background-image: url("./assets/pattern.svg");
  }
  20% {
    background-image: url("./assets/pattern2.svg");
  }
  40% {
    background-image: url("./assets/pattern3.svg");
  }
  60% {
    background-image: url("./assets/pattern4.svg");
  }
  80% {
    background-image: url("./assets/pattern5.svg");
  }
  100% {
    background-image: url("./assets/pattern.svg");
  }
}

#titleCard {
  position: absolute;
  display: block;
  -webkit-animation-name: rugrats;
  -webkit-animation-duration: 1.6s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rugrats {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(1px, 0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
}

.jaggedShape1,
.jaggedShape1:before,
.jaggedShape1:after {
  background: #7582bd;
  border: 7px solid #7582bd;
  width: 65px;
  height: 120px;
  transform: skew(3deg, 15deg);
  position: absolute;
}

.jaggedShape1:before {
  content: "";
  display: block;
  width: 25px;
  height: 50px;
  transform: skew(3deg, 15deg);
  transform: rotate(25deg);
  position: relative;
  left: 60px;
  bottom: 20px;
}

.jaggedShape1:after {
  content: "";
  display: block;
  width: 65px;
  height: 70px;
  transform: skew(3deg, 35deg);

  position: relative;
  left: 100px;
  bottom: 90px;
}

.jaggedShape2,
.jaggedShape2:before,
.jaggedShape2:after {
  background: #7582bd;
  border: 7px solid #7582bd;
  width: 35px;
  height: 50px;
  transform: skew(10deg, -40deg);
  position: absolute;
  left: 150px;
  top: 15px;
}

.jaggedShape2:before {
  content: "";
  display: block;
  width: 75px;
  transform: rotate(15deg);
  position: relative;
  left: 25px;
  top: 20px;
}

.jaggedShape2:after {
  content: "";
  display: block;
  width: 45px;
  transform: rotate(25deg);
  position: relative;
  left: 90px;
  top: 10px;
}

.jaggedShape3 {
  position: absolute;
  background: #7582bd;
  border: 5px solid #7582bd;
  width: 95px;
  height: 50px;
  transform: skew(-10deg, -10deg);
  left: 310px;
  top: 0;
}

.jaggedShape3:before {
  content: "";
  display: block;
  background: #7582bd;
  border: 6px solid #7582bd;
  width: 80px;
  height: 130px;
  transform: rotate(-40deg);
  position: relative;
  left: 50px;
  top: 50px;
}

.jaggedShape3:after {
  content: "";
  display: block;
  background: #7582bd;
  border: 7px solid #7582bd;
  width: 140px;
  height: 60px;
  transform: skew(20deg, 20deg);
  position: relative;
  right: 20px;
  bottom: 5px;
}

.jaggedShape4 {
  position: absolute;
  background: #7582bd;
  border: 9px solid #7582bd;
  width: 95px;
  height: 50px;
  transform: skew(20deg, 20deg);
  left: 190px;
  top: 170px;
}

.jaggedShape4:before {
  content: "";
  display: block;
  position: relative;
  background: #7582bd;
  border: 7px solid #7582bd;
  width: 25px;
  height: 55px;
  transform: rotate(50deg);
  right: 60px;
  top: 25px;
}

.jaggedShape4:after {
  content: "";
  display: block;
  position: relative;
  background: #7582bd;
  border: 6px solid #7582bd;
  width: 185px;
  height: 105px;
  transform: skew(-30deg, -30deg);
  right: 230px;
  bottom: 65px;
}

.jaggedShape5 {
  position: absolute;
  background: #7582bd;
  border: 7px solid #7582bd;
  width: 70px;
  height: 40px;
  transform: skew(-60deg);
  left: 0px;
  top: 99px;
}
/* scale needs adjusting */
#titleCardblock {
  position: absolute;
  -webkit-transform: scale(0.97, 0.95);
  transform: scale(0.94, 0.9);
  left: 11px;
  top: 13px;
  z-index: 3;
}

.jaggedShape1B,
.jaggedShape1B:before,
.jaggedShape1B:after {
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 65px;
  height: 120px;
  transform: skew(3deg, 15deg);
  position: absolute;
}

.jaggedShape1B:before {
  content: "";
  display: block;
  width: 25px;
  height: 50px;
  transform: skew(3deg, 15deg);
  transform: rotate(25deg);
  position: relative;
  left: 60px;
  bottom: 20px;
}

.jaggedShape1B:after {
  content: "";
  display: block;
  width: 65px;
  height: 70px;
  transform: skew(3deg, 35deg);
  position: relative;
  left: 100px;
  bottom: 90px;
}

.jaggedShape2B {
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 35px;
  height: 50px;
  transform: skew(10deg, -40deg);
  position: absolute;
  left: 150px;
  top: 15px;
}

.jaggedShape2B:before {
  content: "";
  display: block;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 75px;
  height: 50px;
  transform: rotate(15deg);
  position: relative;
  left: 25px;
  top: 20px;
}

.jaggedShape2B:after {
  content: "";
  display: block;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 45px;
  height: 50px;
  transform: rotate(25deg);
  position: relative;
  left: 90px;
  top: 10px;
}

.jaggedShape3B {
  position: absolute;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 95px;
  height: 50px;
  transform: skew(-10deg, -10deg);
  left: 310px;
  top: 0;
}

.jaggedShape3B:before {
  content: "";
  display: block;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 80px;
  height: 130px;
  transform: rotate(-40deg);
  position: relative;
  left: 50px;
  top: 50px;
}

.jaggedShape3B:after {
  content: "";
  display: block;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 140px;
  height: 60px;
  transform: skew(20deg, 20deg);
  position: relative;
  right: 20px;
  bottom: 5px;
}

.jaggedShape4B {
  position: absolute;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 95px;
  height: 50px;
  transform: skew(20deg, 20deg);
  left: 190px;
  top: 170px;
}

.jaggedShape4B:before {
  content: "";
  display: block;
  position: relative;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 25px;
  height: 55px;
  transform: rotate(50deg);
  right: 60px;
  top: 25px;
}

.jaggedShape4B:after {
  content: "";
  display: block;
  position: relative;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 175px;
  height: 105px;
  transform: skew(-30deg, -30deg);
  right: 230px;
  bottom: 65px;
}

.jaggedShape5B {
  position: absolute;
  background: #bd9bee;
  border: 7px solid #bd9bee;
  width: 70px;
  height: 40px;
  transform: skew(-60deg);
  left: 0px;
  top: 99px;
}

.mainBackground {
  position: absolute;
  background: #bd9bee;
  width: 300px;
  height: 150px;
  top: 45px;
  left: 70px;
  z-index: 4;
}
