@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.skills {
  background-color: black;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.skills h2 {
  font: 50px "Press Start 2P", cursive;
  color: white;
  text-align: center;
  width: 100%;
}
